/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-dark: blue;
  --primary-light: purple;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2 rem;
}

h2 {
  font-size: 2 rem;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding: 0 1 rem; 
}

button {
  background-image: linear-gradient();
  border: 1 px solid var(--primary-dark);
  color: white;
  padding: .7rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
} */

